#suma de factoriales
n = int(input("Ingrese un número:\n))
contador=0
factorial = 1
suma = 0

for cont in range (1,n+1):
    factorial = cont*factorial
    cont = cont + 1
    suma = suma + factorial

    print("valor parcial",cont-1,":",factorial)

print("suma total:", suma)
