#suma de factoriales
n = int(input("Ingrese un número:\n))
contador=0
factorial=1
suma=0

for contador in range (1,n+1):
    factorial = contador*factorial
    contador = contador + 1
    suma = suma + factorial

    print("valor parcial",contador-1,":",factorial)

print("suma total:", suma)
